<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <title>Test Task</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.28/dist/index.min.js"></script>

        <style>
            .entity-table {
                border-collapse: separate;
            }

            .entity-table td {
                padding: 5px;
                border: 1px solid black;
            }

            .btn-default {
                display: block;
                background: rgba(255, 140, 0, 0.96);
                color: black;
                font-size: 14px;
                padding: 8px;
                border-radius: 10px;
                margin: 10px;
                outline: none;
                box-shadow: none;
                -webkit-appearance: none;
                border: none;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <modal name="agg-chooser">
                <p>&nbsp;&nbsp;Текущий тип агрегации для данной колонки:
                    {{
                        (currentColumnIndex && aggTypes[currentColumnIndex])
                        ? aggTypes[currentColumnIndex]
                        : 'SUM'
                    }}
                </p>
                <button class="btn-default" @click="setAgg('SUM')" type="button">Тип агреграции: SUM</button>
                <button class="btn-default" @click="setAgg('MIN')" type="button">Тип агреграции: MIN</button>
                <button class="btn-default" @click="setAgg('MAX')" type="button">Тип агреграции: MAX</button>
                <button class="btn-default" @click="setAgg('AVG')" type="button">Тип агреграции: AVG</button>
                <button class="btn-default" @click="closeAggModal()" type="button">Закрыть</button>
            </modal>
            <table v-if="entities.length > 0" class="entity-table">
                <tr v-for="entity in entities">
                    <td v-for="param in entity" :style="calculateBackground(param)">
                        {{param}}
                    </td>
                </tr>
                <tr>
                    <td>ИТОГО:</td>
                    <td @click="showAggModal(); rememberCurrentColumn(index+1)" v-for="(entity, index) in entities"
                        :style="calculateBackground(calculateAgg(index + 1))">
                        {{ calculateAgg(index + 1) }}
                    </td>
                </tr>
            </table>
            <br />
            <p>Щёлките на нужную ячейку "Итого", чтобы сменить тип агрегации для столбца.</p>
        </div>
    </body>
    <script>
        axios.defaults.baseURL = 'http://localhost:3000';
        axios.defaults.headers.post['Content-Type'] ='application/json;charset=utf-8';
        axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*';
        Vue.use(window["vue-js-modal"].default);

        let app = new Vue({
            el: '#app',
            data: {
                aggTypes: [],
                currentColumnIndex: null,
                entities: []
            },
            methods: {
                calculateBackground(param) {
                    param = parseFloat(param);
                    const alpha = Math.abs(param);
                    let color = '';

                    if (param < 0) {
                        return {'background': `rgba(255, 140, 0, ${alpha})`, color: 'black'};
                    } else if (param === 0) {
                        return {'background': `rgb(255, 255, 255)`, 'color': 'black'};
                    } else {
                        if (alpha > 0.5) {
                            color = 'white';
                        } else {
                            color = 'black';
                        }

                        return {'background': `rgba(0, 0, 0, ${alpha})`, 'color': color};
                    }
                },

                rememberCurrentColumn(index) {
                    this.currentColumnIndex = index;
                },

                setAgg(aggType) {
                    this.aggTypes[this.currentColumnIndex] = aggType;
                    this.$modal.hide('agg-chooser');
                },

                calculateAgg(paramIndex) {
                    let aggType = 'SUM';

                    if (this.aggTypes[paramIndex]) {
                        aggType = this.aggTypes[paramIndex];
                    }

                    switch (aggType) {
                        case 'MAX':
                            return this.calculateMaxAgg(paramIndex);
                        case 'MIN':
                            return this.calculateMinAgg(paramIndex);
                        case 'AVG':
                            return this.calculateAvgAgg(paramIndex);
                        case 'SUM':
                            return this.calculateSumAgg(paramIndex);
                        default:
                            return this.calculateSumAgg(paramIndex);
                    }
                },

                calculateMaxAgg(index) {
                    let max = Number.MIN_SAFE_INTEGER;
                    let entities = Object.assign({}, this.entities);

                    for (let key in entities) {
                        let values = Object.values(entities[key]);
                        let currentValue = parseFloat(values[index]);

                        if (currentValue > max) {
                            max = currentValue;
                        }
                    }

                    return max.toFixed(3);
                },

                calculateMinAgg(index) {
                    let min = Number.MAX_SAFE_INTEGER;
                    let entities = Object.assign({}, this.entities);

                    for (let key in entities) {
                        let values = Object.values(entities[key]);
                        let currentValue = parseFloat(values[index]);

                        if (currentValue < min) {
                            min = currentValue;
                        }
                    }

                    return min.toFixed(3);
                },

                calculateAvgAgg(index) {
                    let sum = 0;
                    let entities = Object.assign({}, this.entities);

                    for (let key in entities) {
                        let values = Object.values(entities[key]);
                        sum += parseFloat(values[index]);
                    }

                    return (sum / Object.values(entities).length).toFixed(3);
                },

                calculateSumAgg(index) {
                    let sum = 0;
                    let entities = Object.assign({}, this.entities);

                    for (let key in entities) {
                        let values = Object.values(entities[key]);
                        sum += parseFloat(values[index]);
                    }

                    return sum.toFixed(3);
                },

                showAggModal(index) {
                    this.$modal.show('agg-chooser');
                },

                closeAggModal() {
                    this.$modal.hide('agg-chooser');
                },

                fetchEntities() {
                    axios
                        .get('/api/entities')
                        .then((response) => {
                            this.entities = response.data;
                        });
                }
            },
            created() {
                setInterval(this.fetchEntities, 2000);
            },
        })
    </script>
</html>